*{padding: 0;margin: 0}
*{box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
ul,ol{list-style: none}
li{list-style: none}
a{color: inherit;text-decoration: none}
.clearfix::after{content: '';display: block;clear: both}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@keyframes circle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.site-fix{
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  .songPage{
    position: relative;
    overflow-scrolling: auto;
    width: 100%;
    height: 100%;
    display: block;
    &::before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      filter: blur(6px);
      z-index: -1;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0,0,0,0.3);
    }
    display: flex;
    justify-content: center;
    .disc-wrapper{
      margin-top: 13vw;
      width: 70vw;
      height: 70vw;
      max-width: 310px;
      max-height: 310px;
      background: url("../img/disc_default.png") no-repeat center center;
      background-size: cover;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .disc{
        width: 70vw;
        height: 70vw;
        max-width: 320px;
        max-height: 320px;
        background: url("../img/disc.png") no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        .disc-light{
          background: url("../img/disc_light.png") no-repeat center center;
          width: 100%;
          height: 100%;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          .cover{
            width: 63%;
            height: 63%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active{
              animation: circle 15s linear infinite;
            }
            &.play{
              animation-play-state: running;
            }
            &.pause{
              animation-play-state: paused;
            }
            img{
              width: 45px;
              height: 45px;
              visibility: visible;
              &.hidden{
                visibility: hidden;
              }
              &.active{
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}
